<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Header</title>
  </head>
  <body>
    <div class="nav">
      <img class="nav_logo" src="/images/MMA-logo-web.png" alt="logo" />
      <a class="nav_btn" href="/blog">Blog</a>
      <a class="nav_btn" href="/about">About</a>
      <a class="nav_btn" href="/contact">Contact</a>
      <a class="nav_btn" href="/login_signup">Login/SignUp</a>
    </div>
  </body>
</html>
