<div class="social">
  <a href="https://github.com/Mostafa-Magdy-7"
    ><img class="social_icons" src="icons/github-svgrepo-com.svg" alt="Github"
  /></a>
  <a href="https://www.linkedin.com/in/moustafa-magdi-/"
    ><img
      class="social_icons"
      src="icons/linkedin-round-svgrepo-com.svg"
      alt="LinkedIn"
  /></a>
</div>
