<div class="wrapper">
  <%- include("partials/header.ejs") %>
  <%- include("partials/socials.ejs") %>
  <main class="content">
    
    <div class="home">
        <div>
            <img src="images/MMA_logo-removebg-preview.png" alt="" />
        </div>
        <div>
            <h2>Mostafa's Blog</h2> 
            <p>one of my coding Journey Projects  <a class="nav_btn" href="/blog"><i class="arrow right"></i></a></i></p>
        </div>
    
    </div>
  </main>

  <%- include("partials/footer.ejs") %>
</div>
