<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login/SignUp</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main class="main-center">
      <div id="signup">
        <!-- <button class="choose" id="Login" value="Login">Login</button>
        <p>OR</p>
        <button class="choose" id="signUp" value="SignUp">SignUp</button> -->
        <form action="/action_page.php" target="_blank" method="post">
          <label for="username">Username:</label><br />
          <input type="text" id="username" name="username" /><br />
          <label for="newemail">Email:</label><br />
          <input type="email" id="email" name="email" /><br />
          <label for="password">Password:</label><br />
          <input type="password" id="password" name="password" /><br /><br />
          <label for="reapeatpassword">repeat Password:</label><br />
          <input
            type="password"
            id="repeatpassword"
            name="reapeatpassword"
          /><br /><br />
          <p>Have an account? <a href="" id="Login">Login</a></p>

          <div class="submit">
            <input type="submit" value="Submit" id="submit" />
          </div>
        </form>
      </div>
      <div id="login">
        <!-- <button class="choose" id="Login" value="Login">Login</button>
        <p>OR</p>
        <button class="choose" id="signUp" value="SignUp">SignUp</button> -->
        <form action="/action_page.php" target="_blank" method="post">
          <label for="fname">Email:</label><br />
          <input type="email" id="email" name="email" /><br />
          <label for="lname">Password:</label><br />
          <input type="password" id="password" name="password" /><br /><br />
          <p>Don't have an account? <a href="" id="signUp">Sign Up</a></p>

          <div class="submit">
            <input type="submit" value="Submit" id="submit" />
          </div>
        </form>
      </div>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
